<div  class="container-fluid" style="position: absolute;top: 100px; padding-bottom: 50px;" <%= ruleReportDaily == 'ALL' ? '' : 'hidden' %>>
    <div class="row">
        <div class="col-3" style="margin-top: 16px;">
            <%- include('quymobinhquan.ejs') %>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-6">
                    <%- include('Chart/Tang_truong_cuoi_ky.ejs') %>
                </div>
                <div class="col-6">
                    <%- include('Chart/Tang_truong_BQ.ejs') %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3" style="margin-top: 16px;">
            <%- include('Casa.ejs') %>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-4">
                    <%- include('Chart/Casa.ejs') %>
                </div>
                <div class="col-3">
                    <%- include('Chart/HDV_Online.ejs') %>
                </div>
                <div class="col-5">
                    <%- include('Chart/Phan_khuc_theo_QM_HDV.ejs') %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3" style="margin-top: 16px;">
            <%- include('Margin.ejs') %>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-6">
                    <%- include('Chart/Chi_phi_von.ejs') %>
                </div>
                <div class="col-6">
                    <%- include('Chart/Margin.ejs') %>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 12px;">
        <div class="col-6">
            <%- include('KH_Tang.ejs') %>
        </div>
        <div class="col-6">
            <%- include('KH_Giam.ejs') %>
        </div>
    </div>
   
    
</div>