<div id="quymobinhquan">
    <div class="row title">
        <div class="col-12">
            <p>QUY MÔ BÌNH QUÂN</p>
        </div>
    </div>
    <div class="row" style="background-color: rgb(2,48,71);">
        <div class="col-12">
            <div class="row" style="margin: 10px;">
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <div style="width: 100%;">
                                <input onclick="window.location.href='/monthly?Rptdate=<%=Rptdate%>&Kyhan=All&Loaichitieu=<%=Loaichitieu%>&KhoiQL=<%=KhoiQL%>&NhomKH=<%=NhomKH%>'" 
                                class="<%= (Kyhan ==='All'? 'active' : '') %>" type="button" value="Tổng">
                            </div>
                        </div>
                        <div class="col-4">
                            <div style="width: 100%;">
                                <input onclick="window.location.href='/monthly?Rptdate=<%=Rptdate%>&Kyhan=CKH&Loaichitieu=<%=Loaichitieu%>&KhoiQL=<%=KhoiQL%>&NhomKH=<%=NhomKH%>'" 
                                class="<%= (Kyhan ==='CKH'? 'active' : '') %>" type="button" value="CKH">
                            </div>
                        </div>
                        <div class="col-4">
                            <div style="width: 100%;">
                                <input onclick="window.location.href='/monthly?Rptdate=<%=Rptdate%>&Kyhan=KKH&Loaichitieu=<%=Loaichitieu%>&KhoiQL=<%=KhoiQL%>&NhomKH=<%=NhomKH%>'" 
                                class="<%= (Kyhan ==='KKH'? 'active' : '') %>" type="button" value="KKH">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 totalQuymo">
                    <p>100.25</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>%Hoàn thành LK</p>
                </div>
                <div class="col-6">
                    <p class="value" style="font-size: 24px;">180%</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>+/- Kỳ trước</p>
                </div>
                <div class="col-6">
                    <p class="value">18.630</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>+/- Đầu năm</p>
                </div>
                <div class="col-6">
                    <p class="value">20.210</p>
                </div>
            </div>
        </div>
    </div>
</div>